@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900);

* {
    font-family: 'Titillium Web', sans-serif;
}
html, body
{
    font-size: 13px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
.container
{
    position: relative;
    margin: 0 20px;
}
@media (min-width: 1150px)
{
    .container
    {
        width: 950px;
        margin: 0 auto;
    }
}
